table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
}
.sidebar {
  width: 250px;
  background-color: #33b0ff;
  color: #fff;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}
.container {
  margin-top: 5%;
  margin-left: 20%;
  padding: 20px;
}
#heading {
  padding: 10px;
  padding-bottom: 20px;
  color: #181a1b;
}
h1 {
  text-align: center;
  color: #ffffff;
}
h2 {
  color: #eef4f8;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

.error {
  color: red;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
